body, html  {
  width: 98%;
  height: 95%;
  background-color: #BADA55;
}

#buttonContainer{
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 0.5em;
}

#contador{
  position: fixed;
  right: 10%;
  top: 10%;
}

.cardGroup{
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}


.card{
  width: 147px;
}

input{
  margin-left: 1em;
  text-align: center;

}

#serialNumber{
  position: fixed;
  top: 1%;
  right: 1%;
}